<div class="container">
  <div class="row">
    <div class="col">
      <div class="row" *ngFor="let aRace of aRaces">
        <div class="col">{{ aRace }}</div>
      </div>
    </div>
    <div class="col">
      <div class="row" *ngFor="let aRace of aRaces">
        <div class="col">{{ aRace }}</div>
      </div>
    </div>
    <div class="col">
      <div class="row" *ngFor="let cls of classes">
        <div class="col">{{ cls }}</div>
      </div>
    </div>
    <div class="col">
      <div class="row" *ngFor="let hRace of hRaces">
        <div class="col">{{ hRace }}</div>
      </div>
    </div>
    <div class="col">
      <div class="row" *ngFor="let hRace of hRaces">
        <div class="col">{{ hRace }}</div>
      </div>
    </div>
  </div>
</div>
